.navbar {
	margin-bottom: 0;
}


header{
	padding-top: 20px;
	background-color: lightBlue;
}

#me{
	height: 75%;
	width: 75%;
	border: 2px solid black;
	border-radius: 50%;
}

#name{
	font-weight: bold;
}

#portfolio {
	background-color: lightBlue;
}

form label {
	margin-left: 13px;
}

footer {
	background-color: #222222;
}