.navbar {
	margin-bottom: 0;
}

h2 {
	font-family: "Lobster", cursive;
}

#brand_name {
	color: #DADADA;
}

#gmail {
	margin-top: 10px;
}

/* Fonts */
.lobster{ 
	font-family: "Lobster", cursive;
	font-size: 2em;
}

.open_sans {
	font-family: "Open Sans", sans-serif;
}

header{
	padding-top: 20px;
	background-color: lightBlue;
}

#me{
	height: 75%;
	width: 75%;
	border: 2px solid black;
	border-radius: 50%;
}

#name{
	font-weight: bold;
	font-size: 2em;
}

#portfolio {
	background-color: lightBlue;
}

form label {
	margin-left: 13px;
}

footer {
	background-color: #222222;
}