.navbar {
	margin-bottom: 0;
}

#isitmeyourelookingfor {
	font-family: "Lobster", cursive;
	font-size: 2em;
}

h2 {
	font-family: "Lobster", cursive;
	font-size: 3em;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}

#form_button {
	margin-top: 10px;
	clear: both;
}

.skills_text {
	font-size: 1.5em;
}

label {
	font-family: "Open Sans", sans-serif;
}

#brand_name {
	color: #DADADA;
}

.project {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Fonts */
.lobster{ 
	font-family: "Lobster", cursive;
	font-size: 2em;
}


.open_sans {
	font-family: "Open Sans", sans-serif;
}

header{
	padding-top: 20px;
	background-color: lightBlue;
}

#me{
	height: 75%;
	width: 75%;
	border: 2px solid black;
	border-radius: 50%;
}

#name{
	font-weight: bold;
	font-size: 2em;
}

#portfolio {
	background-color: lightBlue;
}

form label {
	margin-left: 13px;
}

footer {
	
	margin-top: 20px;
	background-color: #222222;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: "Lobster", cursive;
	font-size: 1.5em;
}